.root {
    /* reset */
    appearance: none;
    font: inherit;
    color: inherit;
    /* style */
    width: 100%;
    border: 2px inset #d5d5d5;
    color: #424242;
    background: #fff;
    box-shadow: -1px -1px 0 0 #828282;
    margin-top: 4px;
    padding-left: 2px;
}