:root {
  --button-size: 2rem;
  
  --grid-gap: 0;
  --grid-border: calc(var(--button-size) * .2);

  --digit-border: calc(var(--button-size) * .05);

  background-color: #BDBDBD;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border: calc(var(--button-size) * .1) solid transparent;
  border-image: url('border/inset.svg') round;
  border-image-slice: 12.5%;
  padding: .5rem .75rem;
}

header button {
  appearance: none;
  background: none;
  border: none;
  border: var(--grid-border) solid transparent;
  border-image: url('border/outset.svg') round;
  border-image-slice: 18.75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header button:active {
  border-image: url('border/inset.svg') round;
  border-image-slice: 12.5%;
}

header button img {
  width: calc(var(--button-size) * 1.25);
  height: calc(var(--button-size) * 1.25);
  display: inline-block;
}

.board {
  border: var(--grid-border) solid transparent;
  border-image: url('border/inset-thick.svg') round;
  border-image-slice: 18.75%;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
  background-image: url('/board/field.svg');
  background-size: var(--button-size) var(--button-size);
}

.grid div {
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap);
}

.grid button {
  appearance: none;
  background: none;
  border: none;
  width: var(--button-size);
  height: var(--button-size);
}

.grid button {
  background-image: url('/board/button.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.grid button.active {
  background: none;
}

.grid button.active {
  background-repeat: no-repeat;
  background-size: 100%;
}

.grid button.active.bomb {
  background-image: url('/board/bomb-exploded.svg');
}

.grid button.active[data-surround="0"] { background-image: url('/board/number-0.svg'); }
.grid button.active[data-surround="1"] { background-image: url('/board/number-1.svg'); }
.grid button.active[data-surround="2"] { background-image: url('/board/number-2.svg'); }
.grid button.active[data-surround="3"] { background-image: url('/board/number-3.svg'); }
.grid button.active[data-surround="4"] { background-image: url('/board/number-4.svg'); }
.grid button.active[data-surround="5"] { background-image: url('/board/number-5.svg'); }
.grid button.active[data-surround="6"] { background-image: url('/board/number-6.svg'); }
.grid button.active[data-surround="7"] { background-image: url('/board/number-7.svg'); }
.grid button.active[data-surround="8"] { background-image: url('/board/number-8.svg'); }

.digit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--digit-border) solid transparent;
  border-image: url('border/inset-thin.svg') round;
  border-image-slice: 6.25%;
}

.digit img {
  width: calc(var(--button-size) * .75)
}