:root {
    --button-size: 2rem;
    
    --grid-gap: 0;
    --grid-border: calc(var(--button-size) * .2);

    --digit-border: calc(var(--button-size) * .05);

    background-color: #BDBDBD;
}

html {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
}